.container {
  width: 100%;
  height: 630px;
  background: var(--background-color-secondary);
  display: flex;
  flex-direction: column;
}

.itemContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin: 0px auto;
}

#icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.iconContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.iconText {
  font-family: Source Sans Pro;
  font-weight: 700;
  font-size: 42px;
  color: var(--text-color);
  width: 250px;
  padding-bottom: 30px;
}

.itemContainer p {
  text-align: center;
}
