.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.titleIcon {
  padding: 10px;
  color: var(--accent-color);
}

.titleText {
  padding-left: 25px;
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  -moz-user-select: none;
  -webkit-user-select: none;
}

.content {
  display: table-row; /* set to table-row when opened */
  flex-direction: row;
  height: 100%;
  padding-top: 20px;
  /* create a sliding transition effect */
  transform-origin: top;
  transition: transform 0.2s ease;
  transform: scaleY(0);
}

.vertLine {
  display: table-cell;
  border-right: 3px solid var(--accent-color);

  padding-left: 100px;
  height: 100%;
}

.contentText {
  padding-left: 25px;
  display: table-cell;
  width: 650px;
  text-align: left;
  line-height: 25px;
  color: var(--text-color);
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  letter-spacing: 0.03rem;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--divider-line-color);
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}
