.container {
  padding-bottom: 150px;
}

.title {
  color: var(--text-color);
  font-size: 48px;
  display: flex;
  flex-direction: column;
}

.collapsibles {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
}

.collapsible {
  background-color: --var(--accent-color);
  padding: 15px;
  width: 600px;
  margin: 10px;
}

.trigger {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 500;
  font-family: "Source Sans Pro";
  width: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  text-align: left;
}

.triggerOpened {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.collapseContent {
  padding: 10px 5px 5px 5px;
  color: var(--text-color);
  font-size: 18px;
  text-align: center;
  font-family: "Source Sans Mono", monospace;
  font-weight: 200;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--divider-line-color);
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}
