.container {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 3rem;
}

.rightContainer {
    display: flex;
    align-items: center;
    width: 50%;
    padding-right: 3rem;
}

.heroTitle {
    font-size: 110px;
    font-weight: bold;
    text-align: left;
    line-height: 100px;
    color: white;
    width: 50%;

}

.heroSubtitle {
    font-family: "Source Code Pro", monospace;
    color: #F5EACF;
    width: 50%;
    text-align: left;
    font-size: 18px;
}

.register {
    width: 150px;
    height: 50px;
    border: 1px solid #E2B724;
    border-radius: 5px;
    background-color: transparent;
    color: #E2B724;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    cursor: pointer;
}

.register:active {
    background-color: #dfb52936;

}

@media only screen and (max-width: 925px) {
  .container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .heroTitle {
    width: 90%;
  }
  .heroSubtitle {
    width: 80%;
  }
  .rightContainer {
    width: 100%;
    display: none;
  }
}