.container {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--divider-line-color);
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  align-items: center;
}

.navItem {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: unset;
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
  width: 200px;
  height: 115px;
  text-align: center;
  line-height: 115px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 1px solid transparent;
  /* transition: border-bottom .3s; */
  -webkit-transition: 0.4s ease-in-out;
  right: 0;
  transition: 0.4s ease-in-out;
}

.navItem:active {
  font-weight: 500;
  transition: 0s ease-in-out;
}

.register {
  background-color: var(--accent-color);
  height: 50px;
  width: 150px;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: var(--background-color);
}

.active {
  border-bottom: 2px solid var(--accent-color);
  font-weight: 500;
}

@media only screen and (max-width: 925px) {
  .navItems {
    display: none;
  }
}
