.container {
  padding: var(--container-vert-padding) 0;
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--text-color);
  font-size: 48px;
}


.containerText {
  color: var(--text-color);
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  border: 1px solid;
}
