:root {
  --background-color: #543774;
  --background-color-secondary: rgba(12, 8, 4, 0.75);
  --accent-color: rgb(227, 209, 252);
  --accent-color-transparent: #ac37e274;
  --text-color: white;
  --text-accent-color: #f1cff5;
  --divider-line-color: rgba(255, 255, 255, 0.062);
  --navbar-height: 115px;
  --container-vert-padding: 30px;
  /* --text-color-secondary: "", */
}

html,
body {
  background-color: var(--background-color);
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
  padding: 0px;
}

p,
th,
td {
  text-align: left;
}

h1 {
  font-size: 110px;
  font-weight: bold;
  line-height: 100px;
  color: white;
  width: 50%;
}

h2 {
  color: var(--text-color);
  font-size: 48px;
}

p,
a,
th,
td {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
}

a {
  font-weight: bolder;
  color: var(--text-color);
}

a:visited {
  color: var(--text-accent-color);
}

th,
td {
  text-align: center;
  width: 20em;
  padding: 10px;
  border: 1px solid;
}

th {
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

pre {
  margin: 0;
}
